.travelList{
    border: 1px solid black;
    padding: 20px;
    margin: 20px 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.travelList img{
    width: 300px;
    height: 200px;
}

.travelListInfo{
    display: flex;
    flex-direction: column;
}